.cover-image {
  width: 100%;
  height: auto;
  background-image: url(/cover-image.png);
  background-size: cover;
  background-position: center;
}

.img-fluid {
  max-width: fit-content;
  height: auto;
}

.profile-header {
  display: flex;
  align-items: flex-start; /* 수직으로 위가 아닌 시작점에 맞추도록 조정 */
  padding: 2%;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}

.profile-image-container {
  position: absolute;
  top: -50%;
  left: 0%;
}

.profile-image-row {
  position: relative;
  top: auto; /* top 설정 제거 */
  transform: none; /* translateY 제거 */
  display: flex;
  justify-content: start; /* 시작점에 프로필 이미지를 배치 */
  align-items: center; /* 세로 정렬 중앙 */
  width: 100%; /* 또는 필요에 따라 조정 */
}

.profile-image {
  width: 150px;
  height: auto;
  border: 4px solid white;
}

.user-info {
  margin-left: 20%;
  margin-top: -5%;
}

.nickname-container {
  display: flex;
  align-items: center;
}

.nickname-text {
  font-size: 1.5rem;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.instagram-icon {
  width: 24px;
  height: 24px;
}

.profile-row {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: flex-start; /* 가로로 시작점에 배치 */
}


.rating-container {
  display: flex;
  align-items: center;
  background-color: #F5C8B2;
  border-radius: 20px;
  padding: 5px 10px;
  margin-left: 10px;
}

.rating-score {
  margin-right: 5px;
  color: white;
}

.rating-icon {
  width: 24px;
  height: 24px;
}

.profile-nav .nav-link {
  font-size: 1.3em;
  color: black;
  margin: 0 10px;
}

.profile-nav .nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.mt-3 {
  margin-top: 1rem !important;
  border-radius: 15px;
  margin-bottom: 20px;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.main {
  padding: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.favorites {
  padding: 50px;
  background-color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
}

.ads {
  padding: 50px;
  text-align: center;
  background-color: #ffffff;
}

.main-content-wrapper {
  background-color: #d3d3d3;
}

.container {
  padding: 20px;
  margin-top: 10px;
}

.form-label {
  font-weight: bold;
}

.toggle-button {
  width: 100%;
}

.divider {
  border-top: 2px solid #dee2e6;
}

.row {
  margin-top: 20px;
}

.col {
  padding: 20px;
}

.form-group {
  margin-bottom: 100%;
}

.px-3 {
  padding-left: 2px;
  padding-right: 2px;
}

.formName {
  display: flex;
  justify-content: left; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  height: auto; /* 컨테이너 높이 설정 */
}

.formEmail {
  display: flex;
  justify-content: left; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  height: auto; /* 컨테이너 높이 설정 */
}

.formPhone {
  display: flex;
  justify-content: left;
  align-items: center;
  height: auto;
}

.formInstagram {
  display: flex;
  justify-content: left;
  align-items: center;
  height: auto;
}

.formPassword {
  display: flex;
  justify-content: left;
  align-items: center;
  height: auto;
}

.small {
  font-size: 0.25rem; /* 작은 텍스트 사이즈 */
  justify-content: left;
  display: flex;
}

/* 스위치의 라벨과 스위치 위치를 바꾸고 공백을 추가하는 CSS */
.custom-switch-reverse .form-check-input {
  margin-left: 0.25rem; /* 공백 추가 */
  margin-right: 0; /* 기존 마진 제거 */
}

.custom-switch-reverse .form-check {
  display: flex;
  flex-direction: row-reverse; /* 요소 순서를 반대로 */
  align-items: center; /* 중앙 정렬 */
}

.custom-switch-reverse .form-check-label {
  margin-right: 10px; /* 라벨과 스위치 사이의 공간을 추가 */
}
