
body {
    background-color: #F9F9F9;
    
}
.category-list, .subcategory-list {
    max-height: 300px;
    overflow-y: scroll;
    margin-bottom: 1em;
}

.selected-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.badge-close {
    margin-left: 0.5em;
    cursor: pointer;
}

.custom-badge {
    font-size: 0.8rem !important;
    padding: 0.375rem !important;
    margin-right: 0.5px !important;
    margin-bottom: 0.5px !important;
    background-color: rgba(171, 209, 255, 0.30) !important; /* 하늘색 배경 */
    color: black !important; /* 검은색 글씨 */
    font-weight: 500 !important;
    height: 2rem !important;
    display: flex !important;
    align-items: center !important;
    display: flex !important;
    justify-content: center !important; /* 수평 가운데 정렬 */

}
