.color-nav {
    background-color: #0064DC;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-item .nav-link {
    color: white !important;
}

.navbar-nav .nav-item .dropdown-toggle::after {
    color: white;
}

.navbar-nav .nav-item .dropdown-menu {
    text-align: left;
}

.dropdown-title .dropdown-toggle {
    color: white !important;
    text-align: center;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mx-3 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    margin-top:0.2rem !important;
}
